.img-sec {
  width: 85%;
  margin: 1rem auto;
  height: 19em;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)),
    url('https://xtb.scdn5.secure.raxcdn.com/kb_main_photo/0102/92/9ecbe35a-70bc-4b2e-80aa-74c65b57e09f/kb_main_photo_front/1-trading-what-is-it.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 2.2rem;
  margin-top: 5rem;
}
.img-sec h2 {
  font-size: 2.5rem;
  font-weight: 600;
}
.img-sec p {
  color: rgb(227, 227, 227);
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 500;
}
.img-sec button {
  font-weight: 500;
  border-radius: 25px;
  border: 1px solid #345cea;
  color: white;
  background: #345cea;
  height: 2.8rem;
  font-size: 0.8rem;
  vertical-align: middle;
  margin-top: 0.3rem;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
